
.limitFilter-header {
    margin-top: 2px;
}

.limitFilter-title-text {
	color: #2c3342;
    font-family: opensansregular;
    font-size: 24px;
    font-family: opensansregularbold;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    text-transform: none;
    margin-left: 5px;
    padding-right: 6px;
    margin-bottom: 4px;
}

.limitFilter-body {
    margin-top: 15px;
}

.limitFilter-line-border {
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    margin-top: 6px;
}

.limitFilter-footer{

}

.limitFilter-footer button {	    
    padding-left: 1em;
    padding-right: 1em;
}
.limitFilter-footer button:hover {	    
    padding-left: 1em;
    padding-right: 1em;
}

.limitFilter-member-details-holder {
    cursor:pointer;
}

.limitFilter-member-item:hover {
    background-color: #FFFF9C;
}


span.limitFilterTrashButton {
    float:right;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    background: url(/client/resources/ux-controls/images/cascade_actions_19.png) 60px 0px;
}