<div class="limitFilterPopup"  data-ng-controller="plugin-limitFilter.controllers.limitFilterController">
    <!--    Header  -->
    <div class="limitFilter-header">
        <div class="limitFilter-title-text">Add Limiting Filter</div>
    </div>
    <div class="limitFilter-line-border"></div>
     <!--   Body    -->
    <div class="limitFilter-body">
        <div data-ng-class="{'uc-ms-wait': waiting}" class="uc-standard-filter uc-text-filter">
            <div class="uc-filter-criteria-toprow uc-filter-criteria-toprow-rank" style="border-bottom:none;">
                <div>
                    <!--    Top/Bottom menu item    -->
                    <div style="width:100px; float:left; margin-top: -10px">
                        <data-dropdown data-selected="settings.direction" data-items="options.directions"
                            data-theme="dropdown" data-list-classname="firstday-dropdown-list"
                            style="margin-left:0px" ></data-dropdown>
                    </div>
                    <!--    Count spinner    -->
                    <div style="width:100px; float:right;">
                        <data-numeric-spinner class="rank-spinner" min="0" step="1" value="settings.count" data-disabled="disabled"></data-numeric-spinner>
                        
                    </div>                    
                </div>
            </div>

            <!-- ngIf: !measureMode -->
            <div class="">
                <span class="uc-rf-by fake-textbox" data-ng-click="addItem($event,'size')" 
                        style="line-height: 26px; padding: 0px 20px 0px 8px; margin-top: 8px; border: 1px solid #ccc;"><!--
                    -->Select Field:&nbsp;<!--
                    --><span data-ng-bind-html="byTitle.html"></span>
                    <span data-ng-show="(byTitle.html.length > 0)" class="limitFilterTrashButton" data-ng-click="removeFilter(event)"></span>
                </span>
            </div><!-- end ngIf: !measureMode -->            

        </div>
    </div>
    <div class="limitFilter-line-border"></div>
    <!--    Footer   -->
    <div class="limitFilter-footer" style="position:relative; margin-top:9px;">
        <button class="btn-cancel" type="button" data-ng-click="close()">Cancel</button>
        <button class="btn-ok" style="float:right;" type="button" data-ng-click="setFilter()">Save</button>
    </div>

</div>